:root {
	--pikachu: #fdff00;
	--charmander: #ff1e1e;
	--squirtle: #00d7ff;
	--bulbasaur: #38e54d;
}

* {
	margin: 0;
	padding: 1em;
	box-sizing: border-box;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
body {
	background: url('../src/assets/peakpx.jpg') no-repeat;

	background-attachment: fixed;
	background-size: cover;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
@media (max-width: 768px) {
	body {
		font-size: 0.8rem;
		background-size: cover;
	}
}
