:root {
	--pikachu: #fdff00;
	--charmander: #ff1e1e;
	--squirtle: #00d7ff;
	--bulbasaur: #38e54d;
	--text-color: #fff;
}

* {
	margin: 0;
	padding: 1em;
	box-sizing: border-box;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
/* body {
	background: linear-gradient(
		to right,
		var(--pikachu),
		var(--charmander),
		var(--squirtle),
		var(--bulbasaur)
	);
} */
body {
	background: url('./assets/LandingPage.jpg') no-repeat;

	background-attachment: fixed;
	background-size: cover;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
